<a href="https://colab.research.google.com/github/Tawhidrahman292/Tawhidrahman292/blob/main/class3homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
age = int(input('Enter your age:'))
if age>=18:
    print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your age:12
You are not eligible to vote

In [6]:
number = int(input('Enter a number:'))
if number > 0:
  print("Positive number")
elif number == 0:
  print("Zero")
else:
  print("Negative number")

Enter a number:-2
Negative number

In [8]:
number = int(input('Enter a number:'))
if number %2 ==0:
  print("Number is even")
else:
  print("Number is odd")

Enter a number:5
Number is odd

In [14]:
age = int(input('Enter your age:'))
if age>=65:
  print("senior")
elif age>=20 and age<=64:
  print("Adult")
elif age>=13 and age<=19:
  print("Teenager")
elif age>=0 and age<=12:
  print("child")
else:
  print("invalid age")

Enter your age:14
Teenager

In [24]:
def sum_of_natural_numbers(n):
    total = n * (n + 1) // 2
    return total
num = int(input("Enter a number:"))
print (sum_of_natural_numbers(num))

Enter a number:5
15

In [36]:
def factorial(n):
  if n==0 or n==1:
     return 1
  else:
    return n*factorial(n-1)

num = int(input("Enter a number:"))
if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    print("Factorial =", factorial(num))

Enter a number:1
Factorial = 1

In [39]:
def multiplication_table(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n * i}")

num = int(input("Enter a number: "))

print(f"Multiplication table of {num}:")
multiplication_table(num)

Enter a number: 5
Multiplication table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50